# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*xcuserdata
_resources/eos5d-mk3-im5-en.zip
CameraTest02/bin/data/*.jpg
Laser01/bin/data/images/*
Laser02/bin/data/source-state.json
Laser02/bin/data/fonts
GenerativeTest/bin/data/fonts
.DS_Store